POSTGRES_DB=sukashi
POSTGRES_USER=sukashi
POSTGRES_PASSWORD=change-me
DATABASE_URL=postgresql://sukashi:change-me@postgres:5432/sukashi
JWT_SECRET=change-me
PANEL_TITLE=透かし
PANEL_DESCRIPTION=自由への道
PANEL_VERSION=1.7.6-sukad.1
PANEL_SERVER_TOKEN=
